html {
    @media (prefers-color-scheme: light) {
      &:not([data-mode]),
      &[data-mode='light'] {
        //your styles
      }
  
      &[data-mode='dark'] {
        //your styles
      }
    }
  
    @media (prefers-color-scheme: dark) {
      &:not([data-mode]),
      &[data-mode='dark'] {
        --text-color: rgb(255, 255, 255);
      }
  
      &[data-mode='light'] {
        //your styles
      }
    }
  }